.footer-page {
	background: $background-dark;
}
.footer-page__wrapper {
	@include container;
	display: flex;
	flex-wrap: wrap;
	margin-top: 77px;
	padding-top: 40px;
	padding-bottom: 50px;
	min-height: 220px;
	color: $color-white; 
}
.footer-page__copyright {
	flex-basis: 350px;
	padding-top: 5px;
	font-family: $ff-title;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01px;
}
.footer-page__copyright a{
	color: $color-white; 
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		opacity: 0.5
	}
}
.footer-page__list {
	margin: 0;
	padding: 4px 0 0 0;
	list-style: none;
}
.footer-page__list a {
	font-family: $ff-title;
	font-size: 14px;
	line-height: 26px;
	color: $color-white;
	&:hover {
		text-decoration: none;
	}
	&:active {
		opacity: 0.5
	} 
}
.footer-page__container-logo {
	display: flex;
	margin-left: auto;
	padding-top: 11px;
	flex-basis: 275px;
}
.footer-page__logo {
	width: 100px;
	height: 100px;
	background: $color-white;
}
.footer-page__logo-info {
	margin-left: 12px;
}
.footer-page__logo-info h1{
	@include heder-title;
	color: $color-white;
}
.footer-page__logo-info span {
	@include info-title;
	color: $color-white;
}
@media (max-width: 900px) {
	.footer-page__wrapper {
		justify-content: space-between;
	}
	.footer-page__copyright {
		flex-basis: 210px;
	}
	.footer-page__container-logo {
		flex-basis: 275px;
		margin: 0;
	}
}