.header-page {
	background: $background;
}
.header-page__wrapper {
	@include container;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 305px;
	padding: 65px 10px;
}
.header-page__container-logo {
	display: flex;
	flex-direction: row;
}
.header-page__logo {
	width: 100px;
	height: 100px;
	background: $background-dark;
}
.header-page__logo-info {
	margin-left: 12px;
}
.header-page__logo-info h1{
	@include heder-title;
}
.header-page__logo-info span {
	@include info-title;
}
.header-page__container-phone {
	@include phone-title;
	display: flex;
	flex-direction: column;
}