.main-nav {
	background: $background-dark;
}
.main-nav__list {
	@include container;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: 305px;
	list-style: none;
}
.main-nav__list li {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 27px;
		width: 2px;
		height: 24px;
		background: $color-white;
	}
}
.main-nav__list li:first-child::before {
	background: $background-dark;
}
.main-nav__list a {
	display: block;
	padding: 21px 25px;
	font-family: $ff-title;
	font-weight: lighter;
	font-size: 28px;
	line-height: 35px;

	text-decoration: none;
	color: $color-white;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		opacity: 0.5;
	}
}
@media (max-width: 983px) {
	.main-nav__list {
		justify-content: center;
	}
}
@media (min-width: 980px) {
	/*костилi*/
	.main-nav__list li:nth-of-type(1) a {
		padding: 21px 20px 25px 35px;
		letter-spacing: -0.2px;
	}
	.main-nav__list li:nth-of-type(2) a {
		padding: 21px 23px 25px 25px;
	}
	.main-nav__list li:nth-of-type(3) a {
		padding: 21px 23px 25px 23px;
		letter-spacing: 0.5px;
	}
	.main-nav__list li:nth-of-type(4) a {
		padding: 21px 23px 25px 15px;
	}
}
